# Pandas

In [2]:
'''
Pandas stands for Python Data Analysis Library.
It provides two main data structures:

Series – One-dimensional labeled array (like a single column).

DataFrame – Two-dimensional table (like an Excel sheet or SQL table).

Pandas makes it easy to:

Load data (from CSV, Excel, SQL, etc.)

Clean and filter data

Perform calculations and aggregations

Visualize basic statistics
'''

'\nPandas stands for Python Data Analysis Library.\nIt provides two main data structures:\n\nSeries – One-dimensional labeled array (like a single column).\n\nDataFrame – Two-dimensional table (like an Excel sheet or SQL table).\n\nPandas makes it easy to:\n\nLoad data (from CSV, Excel, SQL, etc.)\n\nClean and filter data\n\nPerform calculations and aggregations\n\nVisualize basic statistics\n'

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\saras\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\saras\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\saras\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\saras\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\saras\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\saras\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
import pandas as pd

# Creating Series and DataFrame

In [6]:
# Series
import pandas as pd

data = [10, 20, 30, 40]
s = pd.Series(data)
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
#DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30     Paris
2  Charlie   35    London

In [8]:
#Custom Index
s = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
print(s)

a    10
b    20
c    30
dtype: int64

In [9]:
#Create a DataFrame from a List os Lists
data = [
    ['Alice', 24, 'New York'],
    ['Bob', 27, 'Paris'],
    ['Charlie', 22, 'London']
]

df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])
print(df)

      Name  Age      City
0    Alice   24  New York
1      Bob   27     Paris
2  Charlie   22    London

In [10]:
#Create a DataFrame from a List of Dictionaries
data = [
    {'Name': 'Alice', 'Age': 24, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 27, 'City': 'Paris'},
    {'Name': 'Charlie', 'Age': 22, 'City': 'London'}
]

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   24  New York
1      Bob   27     Paris
2  Charlie   22    London

In [14]:
df.head()       # First 5 rows
#Purpose: Shows the first 5 rows of the DataFrame (by default).Use case: To quickly inspect the beginning of your dataset.
df.tail()       # Last 5 rows
#Purpose: Shows the last 5 rows of the DataFrame (by default).Use case: To check how the dataset ends — useful when data is sorted or has time-series entries.
df.shape        # (rows, columns)
#Purpose: Tells you the dimensions of the DataFrame — number of rows and columns.Use case: To understand how big your dataset is.
df.info()       # Data types and null values
#Purpose: Gives a summary of the DataFrame, including:Index range, Column names, Data types, Non-null counts (helps check missing values), Memory usageUse case: Useful for checking null values and data types before data cleaning or model building.
df.describe()   # Summary statistics (for numeric columns.
#Purpose: Generates summary statistics for numeric columns only.Use case: Helpful for data understanding and detecting outliers.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   City    3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

             Age
count   3.000000
mean   24.333333
std     2.516611
min    22.000000
25%    23.000000
50%    24.000000
75%    25.500000
max    27.000000

# Accessing Data in Pandas DataFrame

In [15]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [24, 27, 22],
    'City': ['New York', 'Paris', 'London']
}

df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   24  New York
1      Bob   27     Paris
2  Charlie   22    London

In [16]:
#Single Column
df['Name']

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [17]:
#Multiple Columns
df[['Name', 'City']]

      Name      City
0    Alice  New York
1      Bob     Paris
2  Charlie    London

In [21]:
#Accessing Rows
print(df.loc[0])  #loc[] — Label-based    Think: "location by label"    Index names (0, 1, 2 in our case)
print("\n-----\n")
print(df.loc[0:1]) #You can get multiple rows
print("\n-----\n")
print(df.iloc[1]) #iloc[] — Position-based   Think: "index location"    Purely uses row numbers: 0, 1, 2...
print("\n-----\n")
print(df.iloc[0:2]) #You can slice like this

Name       Alice
Age           24
City    New York
Name: 0, dtype: object

-----

    Name  Age      City
0  Alice   24  New York
1    Bob   27     Paris

-----

Name      Bob
Age        27
City    Paris
Name: 1, dtype: object

-----

    Name  Age      City
0  Alice   24  New York
1    Bob   27     Paris

In [22]:
#Accessing Specific Value

print(df.loc[1, 'City'])    # Using loc[row_index, column_name]
print("\n----\n")
print(df.iloc[2, 0])    # Using iloc[row_position, column_position]

Paris

----

Charlie

In [23]:
#Iterate Over Rows (optional, slower for big data)
for index, row in df.iterrows():
    print(row['Name'], row['City'])

Alice New York
Bob Paris
Charlie London